@font-face {
    font-family:'lpmicons';
    src: url('../fonts/lpmicons.ttf');
    src: url('../fonts/lpmicons.woff');
    font-weight: normal;
    font-style: normal
}

[class*=lpm-icon-]:before,
[class^=lpm-icon-]:before {
    font-family: 'lpmicons'!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.lpm-icon-googleplay:before {
    content: "\6d"
}

.lpm-icon-add-to-cart:before {
    content: "\6b"
}

.lpm-icon-cart:before {
    content: "\6c"
}

.lpm-icon-amazon:before {
    content: "\6e"
}

.lpm-icon-itunes:before {
    content: "\6f"
}

.lpm-icon-add-to-cart:before,.lpm-icon-amazon:before,.lpm-icon-cart:before,.lpm-icon-googleplay:before {
    position: relative;
    top: 1px
}

.lpm-track-buy-links .added_to_cart {
    display: none
}

.lpm-add-to-cart-button {
    position: relative
}

.lpm-add-to-cart-button-title {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5
}

.lpm-add-to-cart {
    position: relative;
    z-index: 0
}

.lpm-icon-add-to-cart:before {
    display: inline-block
}

.lpm-add-to-cart-button.loading .lpm-icon-add-to-cart:before {
    opacity: .66
}

.lpm-add-to-cart-button.added .lpm-icon-add-to-cart:before {
    -webkit-animation: lpm_pop 0.3s linear 1;
    animation: lpm_pop 0.3s linear 1
}

@-webkit-keyframes lpm_pop {
    50% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }
}

@keyframes lpm_pop {
    50% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }
}

.lpm-playlist,.lpm-playlist *,.lpm-playlist:after,.lpm-playlist:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.lpm-playlist .lpm-track,.lpm-playlist .lpm-tracks {
    width: 100%;
    border-style: solid
}

.lpm-audio {
    display: none
}

.lpm-playlist {
    font-family: sans-serif;
    line-height: 1;
    margin: 0 0 30px;
    position: relative;
    font-size: 12px
}

.lpm-playlist ol.lpm-tracks,.lpm-playlist ol.lpm-tracks li.lpm-track {
    margin: 0;
    padding: 0
}

.lpm-playlist .mejs-container .mejs-controls .mejs-button:before {
    position: relative;
    font-family: 'lpmicons';
    font-style: normal!important;
    font-weight: normal!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.lpm-playlist.lpm-regular-playlist .mejs-controls .mejs-playpause-button {
    color: #fff
}

.lpm-playlist .mejs-container {
    height: 125px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    width: 100%
}

.lpm-playlist .mejs-container .mejs-mediaelement {
    background: 0 0
}

.lpm-playlist .mejs-container .mejs-inner {
    height: 100%;
    padding: 30px 30px 30px 120px;
    position: relative;
    z-index: 10
}

.lpm-playlist .mejs-container .mejs-track-details {
    position: relative
}

.lpm-playlist .mejs-container .mejs-track-details span {
    display: inline-block
}

.lpm-playlist .mejs-container .mejs-track-details span+span:before {
    content: '-';
    margin-left: 5px;
    padding-right: 5px
}

.lpm-playlist .mejs-container .mejs-controls {
    background: none;
    display: block;
    border: none;
    padding: 0;
    height: auto;
    position: relative;
    margin-top: 28px;
    height: 20px
}

.lpm-playlist .mejs-container .mejs-controls .mejs-button {
    border: none;
    height: 20px;
    width: 20px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    position: relative;
    opacity: .5;
    margin: 0
}

.lpm-playlist .mejs-container .mejs-controls .mejs-button.mejs-pause,.lpm-playlist .mejs-container .mejs-controls .mejs-button.mejs-play,.lpm-playlist .mejs-container .mejs-controls .mejs-button.mejs-volume-button,.lpm-playlist .mejs-container .mejs-controls .mejs-button:hover {
    opacity: 1
}

.lpm-playlist .mejs-container .mejs-controls .mejs-button button {
    margin: 0;
    top: 0;
    background: none;
    opacity: 0
}

.lpm-playlist .mejs-container .mejs-controls .mejs-previous {
    position: absolute;
    top: 0;
    left: 0
}

.lpm-playlist .mejs-container .mejs-controls .mejs-pause,.lpm-playlist .mejs-container .mejs-controls .mejs-play,.lpm-playlist .mejs-container .mejs-controls .mejs-replay {
    position: absolute;
    top: 0;
    left: 20px
}

.lpm-playlist .mejs-container .mejs-controls .mejs-next {
    position: absolute;
    top: 0;
    left: 40px
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time span {
    color: #fff;
    line-height: 16px;
    margin: 0
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail {
    background: none;
    outline: none;
    height: 5px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 70px;
    bottom: 2px;
    right: 60px;
    width: auto!important
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current {
    background-color: #e74371
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-buffering,.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
    max-height: 100%
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-handle,.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-hovered {
    display: none!important
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
    outline: none;
    background: rgba(0, 0, 0, 0.44)!important;
    border-radius: 0;
    height: 4px;
    margin: 0;
    width: 100%
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: rgba(255, 255, 255, 0.22)!important
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-slider {
    outline: none
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-handle {
    background: rgba(255, 255, 255, 0.44);
    border-radius: 0;
    border-width: 0;
    display: block;
    height: 4px;
    position: absolute;
    top: 0;
    width: 2px
}

.lpm-playlist .mejs-container .mejs-controls .mejs-play:before {
    content: "\63"
}

.lpm-playlist .mejs-container .mejs-controls .mejs-replay:before {
    content: "\63"
}

.lpm-playlist .mejs-container .mejs-controls .mejs-pause:before {
    content: "\62"
}

.lpm-playlist .mejs-container .mejs-controls .mejs-previous:before {
    content: "\64"
}

.lpm-playlist .mejs-container .mejs-controls .mejs-next:before {
    content: "\61"
}

.lpm-playlist .mejs-container .mejs-controls .mejs-mute:before {
    content: "\68"
}

.lpm-playlist .mejs-container .mejs-controls .mejs-unmute:before {
    content: "\6a"
}

.lpm-playlist .mejs-container .mejs-controls .mejs-volume-button {
    position: absolute;
    right: 28px;
    top: 0
}

.lpm-playlist .mejs-container .mejs-controls .mejs-volume-button .mejs-volume-slider {
    height: 60px
}

.lpm-playlist .mejs-container .mejs-controls .mejs-volume-button .mejs-volume-total {
    height: 46px
}

.lpm-playlist .mejs-container .mejs-controls .mejs-toggle-playlist {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px
}

.lpm-playlist.cue-tracks-count-1 .mejs-container .mejs-controls .mejs-next,.lpm-playlist.cue-tracks-count-1 .mejs-container .mejs-controls .mejs-previous,.lpm-playlist.cue-tracks-count-1 .mejs-container .mejs-controls .mejs-toggle-playlist {
    display: none
}

.lpm-playlist.cue-tracks-count-1 .mejs-container .mejs-controls .mejs-pause,.lpm-playlist.cue-tracks-count-1 .mejs-container .mejs-controls .mejs-play,.lpm-playlist.cue-tracks-count-1 .mejs-container .mejs-controls .mejs-replay {
    left: 0
}

.lpm-playlist.cue-tracks-count-1 .mejs-container .mejs-controls .mejs-time-rail {
    right: 40px;
    left: 40px
}

.lpm-playlist.cue-tracks-count-1 .mejs-container .mejs-controls .mejs-time .mejs-currenttime {
    left: 40px
}

.lpm-playlist.cue-tracks-count-1 .mejs-container .mejs-controls .mejs-time .mejs-duration {
    right: 40px
}

.lpm-playlist.cue-tracks-count-1 .mejs-container .mejs-controls .mejs-volume-button {
    right: 0
}

.lpm-playlist .mejs-container .mejs-controls .mejs-toggle-playlist:before {
    content: '\72'
}

.lpm-playlist .mejs-container .mejs-controls .mejs-toggle-playlist.is-closed:before {
    content: '\73'
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time {
    padding: 0;
    height: auto;
    font-size: inherit;
    line-height: 1
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time .mejs-currenttime {
    position: absolute;
    left: 70px;
    top: -15px;
    font-size: 12px;
    opacity: 0.5
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time .mejs-duration {
    position: absolute;
    right: 60px;
    top: -15px;
    font-size: 12px;
    opacity: 0.5
}

.lpm-playlist .mejs-container .mejs-controls .mejs-time .mejs-time-separator {
    display: none
}

.lpm-playlist .mejs-track-artwork {
    height: 60px;
    width: 60px!important;
    position: absolute;
    left: 30px;
    top: 30px
}

.lpm-playlist .mejs-track-artwork img {
    height: 100%;
    width: 100%;
    max-height: 100%
}

.lpm-playlist .lpm-tracks {
    border-style: solid;
    border-width: 1px;
    border-top: none
}

.lpm-playlist .mejs-controls {
    border-style: solid;
    border-width: 1px;
    border-bottom: none
}

.lpm-playlist.is-playlist-hidden .lpm-tracks {
    display: none
}

.lpm-playlist.lpm-has-background:not(.lpm-sticky-playlist) .lpm-playlist-background {
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-size: cover;
    -webkit-filter: blur(9px);
    filter: blur(9px)
}

.lpm-playlist.lpm-has-background:not(.lpm-sticky-playlist) .lpm-playlist-background:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.33
}

.lpm-playlist.lpm-has-background:not(.lpm-sticky-playlist) .mejs-controls,.lpm-playlist.lpm-has-background:not(.lpm-sticky-playlist) .mejs-track-artist,.lpm-playlist.lpm-has-background:not(.lpm-sticky-playlist) .mejs-track-title {
    color: #fff
}

.lpm-playlist .lpm-track {
    border-width: 1px 0 0;
    cursor: pointer;
    display: table;
    margin: 0;
    padding: 0
}

.lpm-playlist .lpm-track:first-child {
    border-top: none
}

.lpm-playlist .lpm-track:last-child {
    border-bottom: none
}

.lpm-playlist .lpm-track .lpm-track-cell {
    display: table-cell;
    vertical-align: middle
}

.lpm-playlist .lpm-track .lpm-track-details {
    padding: 12px 20px;
    line-height: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left
}

.lpm-playlist .lpm-track .lpm-track-details .lpm-track-title {
    display: block;
    font-weight: 700
}

.lpm-playlist .lpm-track .lpm-track-details .lpm-track-artist {
    display: block
}

.lpm-playlist .lpm-track .lpm-track-length {
    font-size: 11px;
    padding: 10px 20px 10px 10px;
    text-align: right;
    width: 55px
}

.lpm-playlist .lpm-track .lpm-track-links {
    padding: 10px;
    text-align: right;
    width: 160px
}

.lpm-playlist .lpm-track .lpm-track-icon {
    -webkit-transition: ease .2s;
    -o-transition: ease .2s;
    transition: ease .2s;
    margin: 0 4px
}

.lpm-playlist-380 .lpm-track-artist,.lpm-playlist-380 .lpm-track-title,.lpm-playlist-500 .lpm-track-artist,.lpm-playlist-500 .lpm-track-title {
    word-break: break-all
}

.lpm-playlist-380 .mejs-container .mejs-track-details .mejs-track-artist,.lpm-playlist-380 .mejs-container .mejs-track-details .mejs-track-title,.lpm-playlist-500 .mejs-container .mejs-track-details .mejs-track-artist,.lpm-playlist-500 .mejs-container .mejs-track-details .mejs-track-title {
    word-break: break-all
}

.lpm-playlist-380 .lpm-track .lpm-track-length,.lpm-playlist-500 .lpm-track .lpm-track-length {
    display: none
}

.lpm-playlist-500 .mejs-container .mejs-track-details .mejs-track-title {
    font-size: 14px
}

.lpm-playlist-380 .mejs-container .mejs-track-details .mejs-track-title {
    font-size: 12px
}

.lpm-theme-light {
}

.lpm-theme-light.mejs-container {
    background: white;
    color: #fff
}

.lpm-theme-light.mejs-container .mejs-track-details {
    color: #fff
}

.lpm-theme-light .lpm-tracks,.lpm-theme-light .mejs-controls {
    background: white
}

.lpm-theme-light .lpm-tracks {
    background: #fff;
    border-color: rgba(0, 0, 0, 0.1)
}

.lpm-theme-light .lpm-track {
    border-width: 1px 0 1px;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.02);
    color: grey
}

.lpm-theme-light .lpm-track.is-current,.lpm-theme-light .lpm-track:hover {
    background: #f7f7f7
}

.lpm-theme-light .lpm-track-icon:hover {
    color: #0d0d0d!important
}

.lpm-theme-dark.mejs-container {
    background: #1a1a1a;
    color: #d1d8d9
}

.lpm-theme-dark.mejs-container .mejs-track-details {
    color: #d1d8d9
}

.lpm-theme-dark .lpm-tracks,.lpm-theme-dark .mejs-controls {
    background: #1a1a1a;
    border-color: rgba(0, 0, 0, 0.2)
}

.lpm-theme-dark .lpm-track {
    border-width: 1px 0 1px;
    border-top-color: #191919;
    border-bottom-color: rgba(255, 255, 255, 0.05);
    color: #d1d8d9
}

.lpm-theme-dark .lpm-track.is-current,.lpm-theme-dark .lpm-track:hover {
    background: #0e0e0e
}

.lpm-theme-dark .lpm-track-title {
    color: white
}

.lpm-theme-dark .lpm-track-icon {
    color: #d1d8d9!important
}

.lpm-theme-dark .lpm-track-icon:hover {
    color: white!important
}

.lpm-bar-holder {
    width: 100%;
    height: 49px
}

.la_fp_slide .lpm-sticky-playlist-container {
    position: absolute;
    height: 180px;
    background: rgba(13, 13, 13, 0.8);
    width: 100%;
    bottom: 0;
    left: 0
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist {
    background: none;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto!important;
    display: block;
    border: none;
    min-height: 100%
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .mejs-container {
    max-width: 100%;
    min-height: 100%!important;
    height: 180px!important;
    display: block;
    background: none
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .mejs-container .mejs-inner {
    padding-right: 0;
    padding-left: 150px
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .mejs-controls .mejs-time-rail .mejs-time-total {
    background: rgba(255, 255, 255, 0.8)!important
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-loaded {
    background: #fff!important
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .mejs-track-artwork {
    width: 120px!important;
    height: 120px;
    left: 0
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .mejs-time .mejs-duration {
    opacity: 1
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .mejs-track-details {
    font-size: 14px
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .mejs-controls {
    margin-top: 40px
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .lpm-tracks {
    position: absolute;
    bottom: 100%;
    max-height: 80vh;
    overflow: auto;
    background: rgba(13, 13, 13, 0.8)
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .lpm-tracks .lpm-track {
    color: #fff
}

.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .lpm-tracks .lpm-track.is-current,
.la_fp_slide .lpm-sticky-playlist-container .lpm-sticky-playlist .lpm-tracks .lpm-track:hover {
    background: rgba(13, 13, 13, 0.5)
}

/*# sourceMappingURL=lpm.min.css.map */