/*
-----------------------------------------------------------------------
  About CSS
-----------------------------------------------------------------------
*/

.about-area {}

.about-content-wrap {
	.about-content {
		padding-right: 45px;
		@media #{$md-device} {
			padding-right: 0;
		}

		.section-title {
			margin-bottom: 86px;
			@media #{$md-device} {
				margin-bottom: 46px;
			}
			
			.title {
				margin-bottom: 25px;
				padding-bottom: 25px;
			}

			.desc {
				p {
					font-size: 18px;
					line-height: 30px;
					margin-bottom: 31px;
					@media #{$xs-device} {
						font-size: 16px;
						margin-bottom: 20px;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.about2-content-wrap {
	display: flex;
    align-items: flex-end;
    @media #{$lg-device} {
    	align-items: center;
    }


	.about-content {
		.section-title {
			margin-bottom: 56px;
			@media #{$lg-device} {
				margin-bottom: 36px;
			}

			.title {
				font-size: 72px;
				@media #{$lg-device} {
					font-size: 55px;
				}
				@media #{$md-device} {
					font-size: 45px;
				}
			}
		}
	}

	.about-thumb {
		position: relative;
		text-align: right;
		margin-left: 70px;
		@media #{$sm-device} {
			margin-left: 0;
			margin-top: 50px;
		}

		&:before {
			background-color: $black;
			content: "";
			height: 100%;
			left: 0;
			pointer-events: none;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;
			@include transition(all .3s ease-out);

		}

		@media #{$md-device} {
			img {
				width: 100%;
			}
		}

		.play-video-btn {
			left: 50%;
			position: absolute;
			top: 50%;
			@include translate(-50%, -50%);
			@include transition(all .3s ease-out);
		}

		&:hover {
			&:before {
				opacity: .15;
			}

			.play-video-btn {
				margin-top: -9px;
			}
		}
	}
}

.about3-content-wrap {
	.about-thumb {
		margin-left: -30%;
		margin-top: 102px;
		width: 120%;
		@media #{$lg-device} {
			position: absolute;
			bottom: 0;
		}

		img {
			max-width: none;
			height: 776px;
			width: 564px;
			@media #{$lg-device} {
				width: 470px;
				height: auto;
			}
			@media #{$md-device} {
				width: 370px;
			}
		}
	}
	
	.about-content {
		padding-right: 45px;
		padding-top: 187px;
		padding-bottom: 113px;
		@media #{$lg-device} {
			padding-right: 0;
			padding-top: 80px;
			padding-bottom: 84px;
		}

		.title {
			font-size: 60px;
			letter-spacing: -1px;
			margin-bottom: 10px;
			@media #{$lg-device} {
				font-size: 50px;
			}
			@media #{$md-device} {
				font-size: 32px;
			}
		}

		p {
			line-height: 36px;
			margin-bottom: 41px;
			@media #{$md-device} {
				line-height: 28px;
				margin-bottom: 30px;
				font-size: 16px;
			}
		}

		.about-contact-info {
			ul {
				margin-bottom: 31px;
				@media #{$md-device} {
					margin-bottom: 8px;
				}

				.contact-info-item {
					margin-bottom: 10px;

					.icon {
						background-color: $theme-color2;
						color: $white;
						font-size: 24px;
						width: 60px;
						height: 60px;
						margin-right: 15px;
						padding: 18px;
						border-radius: 50%;
						@media #{$sm-device} {
							font-size: 22px;
							width: 50px;
							height: 50px;
							padding: 0;
							margin-right: 8px;
							text-align: center;
							line-height: 48px;
						}
					}

					a {
						font-size: 18px;
						font-weight: $font-weight-bold;
						position: relative;
						top: -2px;
						@include transition(all .2s ease-out);
						@media #{$sm-device} {
							font-size: 16px;
						}

						&:hover {
							color: $theme-color;
						}
					}
				}
			}
		}

		.btn-theme {
			margin-top: 30px;
		}
	}
}

.about4-content-wrap {
	.about-thumb {
		@media #{$md-device} {
			margin-bottom: 40px;
		}
	}

	.about-content {
		margin-left: 100px;
		@media #{$lg-device} {
			margin-left: 0;
		}

		.title {
			font-size: 48px;
			margin-bottom: 0;
			@media #{$lg-device} {
				font-size: 36px;
			}
			@media #{$md-device} {
				font-size: 26px;
			}
		}

		.line-bottom {
			display: inline-block;
			line-height: 1;
			margin-top: 17px;
			margin-bottom: 21px;
		}

		p {
			font-size: 18px;
			margin-bottom: 52px;
			@media #{$lg-device} {
				font-size: 15px;
				margin-bottom: 35px;
			}
		}
	}
}

.about5-content-wrap {
	.about-thumb {
		margin-bottom: 16px;
		text-align: center;
	}

	.about-content {
		text-align: center;

		.title {
			font-weight: $font-weight-normal;
			font-size: 48px;
			margin-bottom: 18px;
			@media #{$lg-device} {
				font-size: 36px;
			}
			@media #{$md-device} {
				font-size: 28px;
			}
		}

		.line-style {}

		p {
			color: $black-8a;
			font-weight: $font-weight-light;
			font-size: 18px;
			margin-top: 21px;
			line-height: 30px;
			margin-bottom: 46px;
			@media #{$md-device} {
				font-weight: $font-weight-normal;
				font-size: 15px;
				margin-top: 14px;
				line-height: 26px;
				margin-bottom: 30px;
			}
		}

		.founder-info {
			.thumb {}

			.content {
				p {
					color: #232324;
					font-size: 18px;
					font-weight: 400;
					margin: 0;
					line-height: 1;
				}
			}
		}
	}
}

.about6-content-wrap {
	.about-thumb {
		position: relative;

		&:before {
			background-color: $black;
			content: "";
			height: 100%;
			left: 0;
			pointer-events: none;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;
			@include transition(all .3s ease-out);

		}

		@media #{$md-device} {
			img {
				width: 100%;
			}
		}

		.play-video-btn {
			left: 50%;
			position: absolute;
			top: 50%;
			@include translate(-50%, -50%);
			@include transition(all .3s ease-out);
		}

		&:hover {
			&:before {
				opacity: .15;
			}

			.play-video-btn {
				margin-top: -9px;
			}
		}
	}

	.about-content {
		@media #{$md-device} {
			margin-bottom: 40px;
		}
		.title {
			font-size: 32px;
			font-weight: $font-weight-semi-bold;
			margin-bottom: 24px;
			@media #{$sm-device} {
				font-size: 26px;
				margin-bottom: 8px;
			}
		}

		p {
			line-height: 30px;
			@media #{$sm-device} {
				line-height: 26px;
				font-size: 14px;
				margin-bottom: 16px;
			}
		}

		.about-info-list {
			margin-bottom: 34px;
			@media #{$sm-device} {
				margin-bottom: 10px;
			}

			ul {
				margin-bottom: 0;
				.list-item {
					margin-bottom: 16px;

					@media #{$sm-device} {
						margin-bottom: 8px;
						font-size: 14px;
					}

					.icon {
						color: $theme-color;
						margin-right: 15px;

						@media #{$sm-device} {
							margin-right: 8px;
						}
					}
				}
			}
		}
	}
}

.ceo-content-wrap {
	text-align: center;

	.thumb {
		margin-bottom: 61px;
		@media #{$md-device} {
			margin-bottom: 40px;
		}
	}

	.content {
		p {
			color: $black-light;
			font-size: 20px;
			font-family: $font-current-theme5;
			line-height: 1.8;
			margin-bottom: 36px;
		}

		img {}
	}
}

.about-inner-area {
	position: relative;
	padding: 271px 0 156px;
	min-height: 150px;
	z-index: 1;
	@media #{$md-device} {
		padding: 126px 0 138px;
	}

	.about-inner-content {
		.content {
			.title {
				color: $black-light;
				font-size: 48px;
				line-height: 58px;
				margin-bottom: 0;
				@media #{$md-device} {
					font-size: 34px;
					line-height: 44px;
				}
				@media #{$md-device} {
					font-size: 28px;
					line-height: 38px;
				}

				+ {
					.breadcrumb-area {
						margin-top: 36px;
						@media #{$md-device} {
							margin-top: 20px;
						}
					}
				}

				span {
					text-decoration: underline;
				}
			}

			.breadcrumb-area {
				.breadcrumb {
					li {
						@media #{$md-device} {
							font-size: 12px;
						}
						a {
							@media #{$md-device} {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}