/*
-----------------------------------------------------------------------
	List Icon CSS
-----------------------------------------------------------------------
*/

.icon-list {

	&.style2 {
		ul {
			li {
				line-height: 1;
				margin-bottom: 19px;
				position: relative;

				&:before {
					content: '\f00c';
					position: relative;
					color: $theme-color3;
					font-family: FontAwesome;
					width: 2.1875em;
					display: inline-block;
					font-size: 0.785em;
					top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.style3 {
		ul {
			li {
				padding-left: 35px;
				margin-bottom: 14px;
				position: relative;

				&:before {
					content: '\f1db';
					color: $theme-color;
					font-family: FontAwesome;
					font-size: 9px;
					line-height: 1;
					left: 0;
					position: absolute;
					top: 50%;
					@include translate(0, -50%);
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.style4 {
		ul {
			li {
				color: $black-8a;
				font-size: 14px;
				padding-left: 0;
				margin-bottom: 14.5px;
				line-height: 25px;
				position: relative;

				i {
					color: $theme-color;
					font-size: 10px;
					padding-right: 20px;
					display: inline-block;
					vertical-align: middle;
					line-height: 25px;
					position: relative;
					top: -1px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.style5 {
		ul {
			li {
				line-height: 1;
				margin-bottom: 19px;
				position: relative;
				@media #{$xxs-device} {
					line-height: 1.5;
				}

				&:before {
					content: '\f111';
					color: $theme-color;
					font-family: FontAwesome;
					font-size: 7px;
					text-rendering: auto;
					vertical-align: middle;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translate(0px, -50%);
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.list-icon-2colum {
		ul {
			li {
				color: $black-8a;
				width: 48%;
				display: inline-block;
				padding-left: 20px;
			}
		}
	}
}