/*
-----------------------------------------------------------------------
  Portfolio CSS
-----------------------------------------------------------------------
*/

.portfolio-area {

	.gutter0 {
		.col,
		[class*=col-] {
			padding-right: 0;
			padding-left: 0;
		}

		.portfolio-item {
			margin-bottom: 0;
		}
	}

	.gutter5 {
		margin-left: -5px;
		margin-right: -5px;
		.col,
		[class*=col-] {
			padding: 0 5px;
		}
	}

	.gutter10 {
		margin: 0 -10px;
		.col,
		[class*=col-] {
			padding: 0 10px;
		}

		.portfolio-item {
			margin-bottom: 20px;
		}
	}

	.gutter25 {
		margin: 0 -12.5px;
		.col,
		[class*=col-] {
			padding: 0 12.5px;
		}

		.portfolio-item {
			margin-bottom: 25px;
		}
	}

	.gutter30 {
		margin: 0 -15px;
		.col,
		[class*=col-] {
			padding: 0 15px;
		}

		.portfolio-item {
			margin-bottom: 30px;
		}
	}
}

.portfolio-filter-menu {
	li {
		cursor: pointer;
		display: inline-block;
		font-weight: $font-weight-bold;
		font-size: 11px;
		letter-spacing: 1px;
		margin: 0 10px;
		text-transform: uppercase;
		position: relative;
		@include transition(all .4s ease-out);

		&:before {
			background-color: $theme-color;
			content: "";
			position: absolute;
			width: 0;
			height: 1px;
			bottom: 0;
			left: auto;
			right: 0;
			@include transition(all .4s ease-out);
		}

		&.active {
			color: $theme-color;

			&:before {
				width: 100%;
				left: 0;
				right: auto;
			}
		}

		&:hover {
			color: $theme-color;

			&:before {
				width: 100%;
				left: 0;
				right: auto;
			}
		}
	}

	&.line-bottom {
		li {
			position: relative;
			&:before {
				background-color: $theme-color;
				bottom: -4px;
				content: "";
				height: 1px;
				left: -1px;
				position: absolute;
				width: 0;
				@include transition(all .4s ease-out);
			}

			&.active {
				&:before {
					width: 100%;
				}
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}

	&.filter-style-2 {
		li {
			color: $black-8a;
			font-size: 14px;
			letter-spacing: 0;
			margin: 0 10px;

			&.active {
				color: $theme-color;
			}

			&:hover {
				color: $theme-color;
			}
		}
	}

	&.text-capitalize {
		li {
			text-transform: capitalize;
		}
	}
}

.portfolio-item {
	position: relative;

	&:before {
		background-color: $theme-color;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		pointer-events: none;
		top: 0;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		@include transition(all 0.4s ease-out);
		@include scale(0.9);
	}

	.portfolio-thumb {
		img {
			width: 100%;
		}
	}

	.portfolio-info {
		left: 50%;
		position: absolute;
		top: 50%;
		text-align: center;
		margin-top: 30px;
		opacity: 0;
		visibility: hidden;
		@include translate(-50%, -50%);
		@include transition(all 0.4s ease-out);
		width: 100%;
		z-index: 1;

		.title {
			color: $white;
			font-size: 18px;
			margin-bottom: 12px;
			margin-top: 5px;
			a {
				color: $white;
			}
		}

		.category {
			color: rgba($white, .6);
			font-size: 12px;
			@include transition(all .4s .1s);
			&:hover {
				color: rgba($white, 1);
			}
		}

		.icon-portfolio-btn {
			color: $white;
			font-size: 18px;
		}
	}

	&.linkoverlay-item {
		.portfolio-thumb {
			img {
				transform: none !important;
			}
		}

		.linkoverlay-content {
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: #ff6577;
			top: 0;
			left: 0;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			@include transition(all .4s ease-out);

			a {
				color: $white;
				height: 100%;
				align-items: center;
				justify-content: center;
				display: flex;
				line-height: 1;
				width: 100%;
				@include transition(all .4s ease-out);

				&:before {
					position: absolute;
					content: "";
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					opacity: 0;
					background-color: #000;
					@include transition(all .4s ease-out);
				}

				span {
					font-size: 48px;
					letter-spacing: -3px;
					line-height: 1;
					z-index: 1;
				}

				&:hover {
					&:before {
						opacity: 0.6;
					}
				}
			}

			&.color-two {
				background-color: #5e7de4;
			}

			&.color-three {
				background-color: #f6b7cf;
			}
		}
	}

	&:hover {
		&:before {
			opacity: 1;
			visibility: visible;
			@include scale(1);
		}

		.portfolio-info {
			opacity: 1;
			visibility: visible;
			margin-top: 0;
		}
	}
}

.portfolio-style2-wrap {
	.portfolio-item {
		position: relative;
		@include transition(all .5s ease-out);
		@media #{$md-device} {
			margin-bottom: 30px;
		}

		&:before {
			display: none;
		}

		.portfolio-thumb {
			img {
				width: 100%;
				filter: grayscale(100);
				-webkit-filter: grayscale(100);
				transition: filter 0.4s 0.1s;
			}
		}

		.portfolio-info {
			left: 0;
			position: relative;
			top: 0;
			text-align: left;
			margin-top: 0;
			opacity: 1;
			padding: 25px 0 0;
			visibility: visible;
			@include translate(0, 0);
			@include transition(all 0.4s ease-out);
			width: 100%;
			z-index: 1;

			.title {
				font-size: 18px;
				margin-bottom: 12px;
				margin-top: 0;
				a {
					color: $black-light;

					&:hover {
						color: $theme-color;
					}
				}
			}

			p {}

			.btn-link {
				color: $black-8a;
				font-weight: $font-weight-bold;
				font-size: 12px;
				text-transform: uppercase;

				&.btn-icon {
					color: $black-8a;

				    &:after {
						color: $black-8a;
				        content: "\f105";
				        padding-left: 9px;
				    }

				    &:hover {
				    	color: $theme-color;

					    &:after {
					    	color: $theme-color;
					    }
				    }
				}
			}
		}

		&:hover {
			@include translate(0, -20px);

			.portfolio-thumb {
				img {
					filter: grayscale(0);
					-webkit-filter: grayscale(0);
				}
			}

			.portfolio-info {
				opacity: 1;
				visibility: visible;
				margin-top: 0;
			}
		}
	}
}

.portfolio-typo-two {
	.portfolio-item {
		.portfolio-info {
			.title {
				font-family: $font-current-theme1;
			}
		}
	}
}

.portfolio-hover-style2 {
	.portfolio-item {
		position: relative;
		overflow: hidden;

		&:before {
			display: none;
		}

		.portfolio-thumb {
			img {
				@include transition(transform .4s .1s);
			}
		}

		.portfolio-info {
			background-color: $theme-color;
			bottom: -110px;
			left: 0;
			top: auto;
			right: 0;
			padding: 27px 30px 30px;
			transform: none;
			text-align: left;
			opacity: 1;
			visibility: visible;
			@include transition(all .4s .1s);
			.title {
				font-family: $font-current-theme1;
				margin-bottom: 0;
				a {
				}
			}

			.category {
				&:hover {
				}
			}

			.icon-portfolio-btn {
			}
		}

		&:hover {
			.portfolio-thumb {
				img {
					@include translate(0, -50px);
				}
			}

			.portfolio-info {
				bottom: 0;
			}
		}
	}
}

.portfolio-hover-style3 {
	.portfolio-item {
		position: relative;
		overflow: hidden;

		&:before {
			display: none;
		}

		.portfolio-thumb {
			position: relative;
			&:before {
				background-color: rgba($theme-color, .9);
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				pointer-events: none;
				top: 0;
				opacity: 0;
				visibility: hidden;
				width: 100%;
				@include transition(all 0.4s ease-out);
				@include scale(0.9);
			}
		}

		.portfolio-info {
		    left: 0;
		    margin: 0;
		    opacity: 1;
		    padding: 20px 0 0;
			position: relative;
		    transform: none;
		    top: 0;
		    text-align: left;
		    visibility: visible;
			.title {
				font-family: $font-current-theme1;
				margin-bottom: 10px;
				a {
					color: $black-light;
				}
			}

			.category {
				color: $black-8a;
				font-size: 14px;
				opacity: .6;
				&:hover {
				}
			}

			.icon-portfolio-btn {
			}
		}

		&:hover {
			.portfolio-thumb {
				&:before {
					opacity: 1;
					visibility: visible;
					@include scale(1);
				}
			}
		}
	}
}

.portfolio-hover-style4 {
	.portfolio-item {
		position: relative;
		overflow: hidden;

		&:before {
			display: none;
		}

		.portfolio-thumb {
			position: relative;
			&:before {
				display: none;
			}
		}

		.portfolio-info {
			bottom: 48px;
			left: 70px;
			top: auto;
			padding: 0;
			transform: none;
			text-align: left;
			opacity: 1;
			visibility: visible;

			.title {
				font-family: $font-current-theme1;
				margin-bottom: 10px;
				a {
					color: $black-light;

					&:hover {
						color: $theme-color;
					}
				}
			}

			.category {
				color: $black-light;
				font-size: 16px;

				&:hover {
					color: $theme-color;
				}
			}

			.icon-portfolio-btn {
				color: $black-light;
				font-size: 20px;
				display: block;
				margin-top: 16px;
			}
		}

		&:hover {
			.portfolio-thumb {}

			.portfolio-info {}
		}
	}
}

.portfolio-hover-style5 {
	.portfolio-item {
		position: relative;
		overflow: hidden;

		&:before {
			display: none;
		}

		.portfolio-thumb {
			position: relative;
			&:before {
				background-color: rgba($theme-color, .9);
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				pointer-events: none;
				top: 0;
				opacity: 0;
				visibility: hidden;
				width: 100%;
				@include transition(all 0.4s ease-out);
				@include scale(0.9);
			}

			.icon-portfolio-btn {
				color: #fff;
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -25px;
				margin-top: 0;
				opacity: 0;
				z-index: 2;
				transition: all 0.4s 0.1s;
				font-size: 16px;
			}
		}

		.portfolio-info {
		    left: 0;
		    margin: 0;
		    opacity: 1;
		    padding: 20px 0 0;
			position: relative;
		    transform: none;
		    top: 0;
		    text-align: left;
		    visibility: visible;
			.title {
				font-family: $font-current-theme1;
				margin-bottom: 10px;
				a {
					color: $black-light;
				}
			}

			.category {
				color: $black-8a;
				font-size: 14px;
				opacity: .6;
				@include transition(all .6s ease-out);

				&:hover {
					color: $theme-color;
				}
			}

			.icon-portfolio-btn {
			}
		}

		&:hover {
			.portfolio-thumb {
				&:before {
					opacity: 1;
					visibility: visible;
					@include scale(1);
				}

				.icon-portfolio-btn {
					opacity: 1;
					margin-top: -25px;
				}
			}
		}
	}
}

.portfolio-hover-style6 {
	.thumb {
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;

		img {
			width: 100%;
			transform: scale(1.05);
			-webkit-transform: scale(1.05);
			transition: transform 0.5s ease-out;
		}

		&:before {
			background-color: #000;
			content: "";
			opacity: 0;
			position: absolute;
			pointer-events: none;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: all 0.5s ease-out;
			z-index: 2;
		}

		&:hover {
			&:before {
				opacity: .2;
			}
			img {
				transform: scale(1);
				-webkit-transform: scale(1);
			}
		}
	}
}

.portfolio-hover-style7 {
	.portfolio-thumb {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			transform: scale(1.05);
			-webkit-transform: scale(1.05);
			transition: transform 0.5s ease-out;
		}

		&:before {
			background-color: #000;
			content: "";
			opacity: 0;
			position: absolute;
			pointer-events: none;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: all 0.5s ease-out;
			z-index: 2;
		}

		&:hover {
			&:before {
				opacity: .2;
			}
			img {
				transform: scale(1);
				-webkit-transform: scale(1);
			}
		}
	}
}

.portfolio-hover-style8 {
	.portfolio-item {
		position: relative;
		overflow: hidden;

		&:before {
			display: none;
		}

		.portfolio-thumb {
			img {
				@include transition(transform .4s .1s);
			}
		}

		.portfolio-info {
			background-color: $white;
			bottom: -100%;
			left: 0;
			top: auto;
			right: 0;
			padding: 27px 30px 30px;
			transform: none;
			text-align: center;
			opacity: 1;
			visibility: visible;
			transition: bottom 0.5s;

			.title {
				color: $black-light;
				font-family: $font-current-theme1;
				font-size: 18px;
				margin-bottom: 0;

				a {
					color: $black-light;

					&:hover {
						color: $theme-color;
					}
				}
			}

			.category {
				color: $black-8a;
				font-size: 16px;
				opacity: .6;

				&:hover {
					color: $theme-color;
					opacity: 1;
				}
			}
		}

		&:hover {
			.portfolio-thumb {
				img {
					@include translate(0, -50px);
				}
			}

			.portfolio-info {
				bottom: 0;
			}
		}
	}
}

.portfolio-single-style-wrap {
	.portfolio-single-item {
		margin-left: -15px;
		margin-right: -15px;

		.portfolio-thumb {
			padding-left: 15px;
			padding-right: 15px;
			float: left;
			width: 50%;
			@media #{$sm-device} {
				width: 100%;
			}
		}

		.portfolio-info {
			padding-left: 84px;
			padding-right: 15px;
			float: left;
			width: 50%;
			@media #{$lg-device} {
				padding-left: 15px;
			}
			@media #{$sm-device} {
				width: 100%;
				margin-top: 30px;
			}

			.title {
				color: $black-light;
				font-size: 24px;
				margin-bottom: 45px;
				text-transform: uppercase;
				@media #{$lg-device} {
					margin-bottom: 14px;
				}
			}

			.info-list {
				margin-bottom: 50px;
				@media #{$lg-device} {
					margin-bottom: 36px;
				}

				.list-item {
					margin-bottom: 40px;

					h5 {
						font-weight: $font-weight-normal;
						font-size: 18px;
						text-transform: uppercase;
					}

					h6 {
						font-weight: $font-weight-normal;
						font-size: 18px;
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.portfolio-single-slider {
		&.owl-theme {
			.owl-nav {
				margin-top: 0;
				@media #{$md-device} {
					display: none;
				}

				.owl-prev {
					left: 30px;
				}

				 [class*=owl-] {
					background-color: $white;
					border-radius: 50%;
					color: $black-333;
					border: none;
					text-align: center;
					width: 48px;
					height: 48px;
					line-height: 48px;
					position: absolute;
					top: 50%;
					margin: 0;
					@include translate(-50%, -50%);
				 }

				.owl-next {
					right: 50%;
					margin-right: 45px;
				}
			}
			.owl-dots {
				position: absolute;
				left: calc(50% + 84px);
				bottom: 0;
				@media #{$lg-device} {
					left: 50%;
					bottom: -40px;
					transform: translate(-50%, 0px);
				}
				
				.owl-dot {
					span {
						margin: 0;
						width: 9px;
						height: 9px;
						border-radius: 50%;
						background-color: #8a8a8a;
						opacity: 0.4;
						margin-right: 14px;
					}

					&.active {
						span {
							background-color: $theme-color;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.portfolio-single-area {
	.portfolio-single-item {
		.portfolio-single-thumb {
			margin-bottom: 37px;
		}

		.portfolio-single-info {
			@media #{$sm-device} {
				margin-bottom: 40px;
			}

			.title {
				font-family: $font-current-theme1;
				font-size: 18px;
				margin-bottom: 10px;
			}

			p {
				margin-bottom: 0;
				+ {
					p {
						margin-top: 15px;
					}
				}
			}
		}

		&.portfolio-single-fixed {
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.076);
			position: fixed;
			width: 640px;
			height: 363px;
			max-width: 100%;
			bottom: 30px;
			right: 35px;
			z-index: 2;
			background-color: #fff;
			padding: 40px 50px;
			z-index: 9;
			@media #{$sm-device} {
				height: auto;
			}
		    @media (max-width:600px) {
		    	bottom: 56px;
		    }

			&.close {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	.pf-single-btn-on {
		background-color: $white;
		bottom: 50px;
		border-radius: 50%;
		cursor: pointer;
		color: #2a2a2a;
		display: inline-block;
		font-size: 17px;
		height: 39px;
		line-height: 42px;
		margin: 0;
		position: fixed;
		right: 50px;
		text-align: center;
		width: 39px;
		z-index: 8;
	    @media (max-width:600px) {
	    	bottom: 76px;
	    }
	}

	.pf-single-btn-close {
		background-color: $white;
		bottom: 20px;
		border-radius: 50%;
		cursor: pointer;
		color: #2a2a2a;
		display: inline-block;
		font-size: 17px;
		height: 39px;
		line-height: 42px;
		margin: 0;
		position: absolute;
		right: 15px;
		text-align: center;
		width: 39px;
		z-index: 8;
	}

	.portfolio-single-info {
		margin-bottom: 0;

		.info-list {
			.title {
				font-family: $font-current-theme1;
				font-size: 18px;
				margin-bottom: 9px;
			}
			.value {
				color: $black-8a;
				font-size: 14px;
				a {
					color: $black-8a;
					font-size: 14px;

					&:hover {
						color: $theme-color;
					}
				}
			}

			+ {
				.info-list {
					margin-top: 25px;
				}
			}
		}
	}

	.social-icons {
		margin-top: 25px;

		&.info {
			.title {
				font-family: $font-current-theme1;
				font-size: 18px;
				margin-bottom: 9px;
			}
			a {
				color: $black-8a;
				display: inline-block;
				font-size: 18px;
				height: 30px;
				line-height: 30px;
				text-align: left;
				@include transition(all .2s ease-out);
				width: 30px;
				@media #{$xxs-device} {
					height: 24px;
					width: 24px;
					font-size: 14px;
					line-height: 24px;
				}

				&:hover {
					color: $theme-color;
				}
			}
		}
	}

	.portfolio-single-img-slider {
		&.owl-theme {
			.owl-nav {
				margin: 0;
				@media #{$sm-device} {
					display: none;
				}

				[class*=owl-] {
					background-color: $white;
					border-radius: 50%;
					color: $black-333;
					font-size: 18px;
					height: 50px;
					line-height: 50px;
					margin: 0;
					position: absolute;
					top: 50%;
					@include translate(0, -50%);
					width: 50px;
				}

				.owl-prev {
				    left: 40px;
				}

				.owl-next {
				    right: 40px;
				}
			}

			.owl-dots {
				margin-top: 24px;
				margin-bottom: 0;

				[class*=owl-] {
					margin: 0 5px;

					span {
						background-color: #adadad;
						border-radius: 50%;
						height: 9px;
						width: 9px;
						margin: 0;
					}

					&.active {
						span {
							background-color: #333;
						}
					}
				}
			}
		}
	}
}

.pf-single-btn-hide {
	.pf-single-btn-close {
		opacity: 0;
	}
}

.related-projects-slider {
	&.slick-dotted {
		.slick-dots {
			bottom: -54px;

			li {
				margin: 0 10px;
				width: auto;
				height: auto;
				padding: 0;

				button {
					margin: 0;
					width: auto;
					height: auto;
					padding: 0;

					&:before {
						background-color: #8a8a8a;
						content: "";
						height: 7px;
						width: 7px;
						margin: 0;
						opacity: 1;
						position: absolute;
						border-radius: 50%;
					}
				}

				&.slick-active {
					button {
						&:before {
							background-color: #333;
						}
					}
				}
			}
		}
	}
}

.portfolio-nav {
	padding: 40px 0 40px;
	.nav-item {
		a {
			span {
				color: $black-light;
				font-size: 14px;
				display: inline-block;
				line-height: inherit;
				padding: 0 10px;
				vertical-align: middle;
			}

			.icon {
				display: inline-block;
				font-size: 30px;
				line-height: inherit;
				vertical-align: middle;
				position: relative;
				top: 1px;
				@media #{$xs-device} {
					font-size: 20px;
					line-height: 1;
					top: 0;
				}
			}

			&:hover {
				color: $theme-color5;

				span {
					color: $theme-color5;
				}
			}
		}
	}

	.nav-parents {
		font-size: 24px;
		text-align: center;
		@media #{$xs-device} {
			line-height: 1;
		}
		
		a {
			.icon {
				line-height: inherit;
				font-size: 30px;
				vertical-align: middle;
				display: inline-block;
				@media #{$xs-device} {
					font-size: 24px;
				}
			}

			&:hover {
				color: $theme-color5;

				span {
					color: $theme-color5;
				}
			}
		}
	}
}

.slick-gutter30 {
	.slick-list {
		margin: 0 -15px;
	}
	.slick-slide {
		margin: 0 15px;
	}
}

.slick-gutter15 {
	.slick-list {
		margin: 0 -7.5px;
	}
	.slick-slide {
		margin: 0 7.5px;
	}
}