/*
-----------------------------------------------------------------------
	Pricing CSS
-----------------------------------------------------------------------
*/
.pricing-area {
}

.pricing2-content-wrap {
	.pricing-item {
		border: 1px solid $white-e7;
		background-color: $white;
		box-shadow: 0 0 21px 0 rgba(black, .04);
		padding: 45px 30px 25px;
		text-align: center;
		@media #{$md-device} {
			margin-bottom: 30px;
		}
		.pricing-item-header {
			margin-bottom: 30px;
			.title {
				font-size: 18px;
				font-weight: $font-weight-normal;
				margin-bottom: 2px;
			}

			.price-wrap {
				.price {
					color: $theme-color;
					font-family: $font-current-theme1;
					font-size: 50px;
					margin-bottom: 0;
				}
			}
		}

		.pricing-item-content {
			margin-bottom: 36px;
			.pricing-list {
				ul {
					margin-bottom: 0;
					li {
						color: $black-light;
						font-size: 14px;
						margin-bottom: 14px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.pricing-item-footer {
			.pricing-btn {
				background-color: $black-light;
				border-radius: 0;
				color: $white;
				font-weight: $font-weight-bold;
				font-size: 14px;
				padding: 16px 20px;
			}
		}

		&:hover {
			.pricing-item-footer {
				.pricing-btn {
					background-color: $theme-color;
				}
			}
		}
	}	
}

.pricing3-content-wrap {
	.pricing-item {
		background-color: $white;
		box-shadow: 0px 0px 49px 0px rgba(200, 111, 173, 0.24);
		border-radius: 20px;
		padding: 48px 0 58px;
		text-align: center;
		position: relative;
		@media #{$md-device} {
			margin-bottom: 30px;
		}

		.pricing-item-badge {
			background-color: #ff4343;
			color: $white;
			font-size: 14px;
			position: absolute;
			top: 0;
			right: 30px;
			padding: 20px 10px;
		}

		.pricing-item-header {
			margin-bottom: 28px;
			.title {
				color: $theme-color;
				font-family: $font-current-theme1;
				font-weight: $font-weight-bold;
				font-size: 18px;
				margin-bottom: 4px;
			}

			.price-wrap {
				.price {
					font-size: 48px;
					font-family: $font-current-theme1;
					font-weight: $font-weight-normal;
					margin-bottom: 0;

					span {
						font-size: 14px;
						position: relative;
						left: -12px;
					}
				}
			}
		}

		.pricing-item-content {
			margin-bottom: 42px;
			.pricing-list {
				ul {
					margin-bottom: 0;
					li {
						color: $black-8a;
						font-size: 14px;
						margin-bottom: 14px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.pricing-item-footer {
			.pricing-btn {
			    border: none;
				box-shadow: none;
				display: inline-block;
				font-size: 12px;
				font-weight: $font-weight-bold;
				padding: 17px 58px;
			    position: relative;
				@include transition(all .3s ease-out);
			    z-index: 1;

			    &:before {
			    	border: 1px solid $white-e3;
					background-color: $white;
					position: absolute;
					content: "";
					height: 100%;
					left: 0;
					top: 0;
					width: 100%;
					z-index: -1;
					@include transition(all .3s ease-out);
			    }

			    &:after {
					border: none;
					@include gradient-bg2;
					position: absolute;
					content: "";
					height: 100%;
					left: 0;
					top: 0;
					width: 100%;
					z-index: -2;
					@include transition(all .3s ease-out);
			    }
			}
		}

		&:hover {
			.pricing-item-footer {
				.pricing-btn {
					color: $white;
					&:before {
						background-color: $black-light;
				    	border: 1px solid $black-light;
					}

					&:after {
						top: 10px;
						left: 10px;
					}
				}
			}
		}
	}	
}

.pricing4-content-wrap {
	.pricing-item {
		background-color: $white;
		padding: 35px 30px 40px;
		border-radius: 10px;
		box-shadow: 0px 0px 27px 0px rgba(41, 44, 58, 0.1);
		text-align: center;
		@include transition(all .3s ease-out);
		@media #{$md-device} {
			margin-bottom: 30px;
		}

		.pricing-item-header {
			.icon {
				color: $theme-color;
				font-size: 46px;
				line-height: 1;
				margin-bottom: 10px;
			}

			.title {
				font-size: 18px;
				margin-bottom: 3px;
			}

			.desc {
				p {
					font-size: 14px;
					margin-bottom: 15px;
				}
			}

			.price-wrap {
				background-image: url('../img/icons/line.png');
				background-repeat: no-repeat;
				background-position: bottom center;
				padding-bottom: 5px;
				margin-bottom: 27px;
				.price {
					color: $theme-color;
					font-size: 48px;
					font-weight: $font-weight-bold;
					line-height: 1;

					.price-currency {
						font-size: 24px;
						position: relative;
						top: -12px;
					}

					.price-period {
						color: $black-light;
						font-weight: $font-weight-normal;
						font-size: 14px;
						position: relative;
						left: -4px;
					}
				}
			}
		}

		.pricing-item-content {
			margin-bottom: 27px;
			.pricing-list {
				ul {
					margin-bottom: 0;
					li {
						color: $black-light;
						font-size: 14px;
						margin-bottom: 14px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.pricing-item-footer {
			text-align: center;
			.pricing-btn {
				border: 2px solid $white-e3;
				border-radius: 50px;
				box-shadow: none;
				color: $black-light;
				font-weight: $font-weight-bold;
				display: inline-block;
				font-size: 12px;
				padding: 16px 57px;
				text-transform: uppercase;
				@include transition(all .3s ease-out);
				@media #{$md-device} {
					padding: 12px 46px;
				}
			}
		}

		&:hover {
			@include translate(0, -20px);
			.pricing-item-footer {
				.pricing-btn {
					color: $white;
					background-color: $black-light;
					border-color: $black-light;
				}
			}
		}
	}	
}

.pricing5-content-wrap {
	.pricing-item {
		background-color: $white;
		box-shadow: 0px 0px 27px 0px rgba(41, 44, 58, 0.11);
		border-radius: 10px;
		padding: 48px 48px 44px;
		@media #{$xxs-device} {
			padding: 25px 30px 28px;
		}

		.pricing-item-header {
			margin-bottom: 26px;
			.price-wrap {
				.price {
					font-size: 40px;
					margin-bottom: 10px;
				}
			}

			.desc {
				p {
					color: $black-lighter;
					font-size: 16px;
					line-height: 1.9;
				}
			}
		}

		.pricing-item-content {
			@media #{$xs-device} {
				margin-bottom: 15px;
			}

			.discount {
				color: $theme-color;
				font-size: 16px;
				line-height: 1.9;
			}
		}

		.pricing-item-footer {
			.pricing-btn {
			  color: $white;
			  background-color: $theme-color;
			  font-weight: $font-weight-bold;
			  border-radius: 50px;
			  box-shadow: none;
			  display: inline-block;
			  font-size: 12px;
			  padding: 15px 39px;
			  text-transform: uppercase;
			  @include transition(all .3s ease-out);

			  &:hover {
			  	background-color: $black-light;
			  }
			}
		}
	}
}

.pricing6-content-wrap {
	.pricing-item {
		background-color: #fff;
		box-shadow: 0px 0px 49px 0px rgba(191, 111, 133, 0.24);
		@media #{$md-device} {
			margin-bottom: 30px;
		}

		.pricing-item-header {
			.title {
				font-size: 24px;
				font-style: italic;
				text-transform: uppercase;
				padding-top: 45px;
			}

			.price-wrap {
				margin-bottom: 30px;
				.price {
					display: inline-block;
					font-size: 72px;
					font-weight: $font-weight-bold;
					line-height: 1;
					position: relative;
					font-style: italic;

					.price-currency {
						font-size: 24px;
						position: absolute;
						top: 4px;
						font-style: italic;
						left: -4px;
					}

					.price-period {
						color: $black-light;
						font-weight: $font-weight-normal;
						font-size: 16px;
						position: relative;
					}
				}
			}
		}

		.pricing-item-content {
			padding-bottom: 20px;
			.pricing-list {
				ul {
					li {
						font-size: 18px;
						margin-bottom: 10px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.pricing-item-footer {
			.pricing-btn {
				box-shadow: 0px 0px 49px 0px rgba(191, 111, 133, 0.24);
				border-radius: 0;
				font-weight: $font-weight-bold;
				font-size: 18px;
				display: block;
				padding: 16px 20px;
				text-transform: uppercase;
				width: 100%;
			}
		}

		&:hover {
			.pricing-item-footer {
				.pricing-btn {
					background-color: $theme-color;
					color: $white;
				}
			}
		}
	}	
}

.pricing7-content-wrap {
	.pricing-item {
		margin-bottom: 32px;
		padding-right: 33px;
		@media #{$lg-device} {
			padding-right: 0;
		}

		.pricing-item-header {
			.title {
				font-family: $font-current-theme2;
				font-size: 18px;
				margin-bottom: 8px;
				@media #{$md-device} {
					margin-bottom: 0;
				}
			}
		}

		.pricing-item-content {
			display: inline-block;
			overflow: hidden;
			width: 100%;

			.pricing-list {
				float: left;
				position: relative;

				ul {
					margin-bottom: 0;

					li {
						font-size: 18px;
						@media #{$lg-device} {
							font-size: 14px;
						}
						@media #{$sm-device} {
							font-size: 13px;
						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

				&:before {
					content: "";
					position: absolute;
					border-top: 1px solid;
					width: 500px;
					left: 100%;
					margin-left: 20px;
					bottom: 10px;
				}
			}

			.price-wrap {
				background-color: $white;
				position: relative;
				padding-left: 18px;
				float: right;
				z-index: 1;

				.price {
					color: $theme-color;
					font-family: $font-current-theme3;
					font-weight: $font-weight-bold;
					font-size: 18px;
					margin-bottom: 0;
					@media #{$sm-device} {
						font-size: 15px;
					}
				}
			}
		}
	}

	.btn-link {
		color: $black-8a;
		display: inline-block;
		font-size: 16px;
		margin-top: 44px;
		@media #{$sm-device} {
			font-size: 13px;
		}

		a {
			text-decoration: underline;
		}

		&:hover {}
	}
}

.pricing8-content-wrap {
	.pricing-item {
		background-image: url('../img/photos/m27-bg2.png');
		background-repeat: no-repeat;
		background-position: center bottom 40px;
		border: 1px solid #e1e1e1;
		position: relative;
		padding: 0 35px 103px;
		@media #{$lg-device} {
			margin-bottom: 35px;
		}

		.pricing-item-header {
			text-align: center;
			margin-bottom: 48px;

			.title {
				font-size: 36px;
				display: inline-block;
				padding: 0 19px;
				margin-top: -15px;
				margin-bottom: 0;
				position: relative;
				top: -10px;
				background-color: #fff;
				@media #{$xsl-device} {
					font-size: 28px;
				}
			}
		}

		.pricing-item-content {
			.pricing-list {
				ul {
					margin-bottom: 0;

					li {
						display: inline-block;
						width: 100%;
						border-bottom: 1px solid #e1e1e1;
						width: 100%;
						padding-top: 10px;
						padding-bottom: 10px;
						margin-bottom: 13px;

						span {
							color: $black-light;
							font-size: 18px;
							line-height: 1.714286;
							@media #{$xsl-device} {
								font-size: 13px;
							}

							i {
								background-color: #b58113;
								color: #fff;
								width: 20px;
								height: 20px;
								border-radius: 50%;
								font-size: 12px;
								text-align: center;
								line-height: 20px;
								display: inline-block;
								top: -18px;
								position: relative;
							}

							&:first-child {
								float: left;
							}
							&:last-child {
								float: right;
							}
						}

						&:last-child {
							margin-bottom: 0;
							padding-bottom: 0;
							border-bottom: none;
						}
					}
				}
			}
		}
	}	
}

.pricing9-content-wrap {
	.pricing-item {
		border: 1px solid $white-e7;
		background-color: $white;
		box-shadow: 0 0 21px 0 rgba(black, .04);
		padding-top: 36px;
		text-align: center;
		.pricing-item-header {
			margin-bottom: 30px;
			.title {
				color: $black-light;
				font-size: 18px;
				font-weight: $font-weight-normal;
				margin-bottom: 0;
			}

			.price-wrap {
				.price {
					font-size: 48px;
					color: #000;
					font-weight: 600;
				}
			}
		}

		.pricing-item-content {
			margin-bottom: 36px;
			.pricing-list {
				ul {
					margin-bottom: 0;
					li {
						color: $black-light;
						font-size: 14px;
						margin-bottom: 14px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.pricing-item-footer {
			.pricing-btn {
				background-color: $black-light;
				border-radius: 0;
				color: $white;
				font-weight: $font-weight-bold;
				font-size: 14px;
				padding: 16px 20px;
			}
		}

		&:hover {
			.pricing-item-footer {
				.pricing-btn {
					background-color: $theme-color;
				}
			}
		}
	}	
}

.pricing10-content-wrap {
	.pricing-item {
		background-color: $white;
		box-shadow: 0px 0px 49px 0px rgba(175, 175, 175, 0.16);
		padding-top: 36px;
		text-align: center;
		@include transition(all .4s ease-out);
		@media #{$md-device} {
			margin-bottom: 30px;
		}

		.pricing-item-header {
			margin-bottom: 28px;

			.title {
				color: $black-light;
				font-size: 18px;
				font-weight: $font-weight-semi-bold;
				margin-bottom: 16px;
			}

			.price-wrap {
				.price {
					font-size: 48px;
					color: #000;
					font-weight: 600;
				}
			}
		}

		.pricing-item-content {
			margin-bottom: 75px;

			.pricing-list {
				ul {
					margin-bottom: 0;
					li {
						color: $black-8a;
						font-size: 14px;
						margin-bottom: 10px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.pricing-item-footer {
			.pricing-btn {
				background-color: #9d9d9d;
				border-radius: 0;
				color: $white;
				font-weight: $font-weight-bold;
				font-size: 14px;
				padding: 16px 20px;
			}
		}

		&:hover {
			@include translate(0, -20px);
			box-shadow: 0px 0px 30px 0px rgba(41, 44, 58, 0.1);

			.pricing-item-footer {
				.pricing-btn {
					background-color: $theme-color;
				}
			}
		}
	}	
}

.page-pricing-color-wrap {
	.pricing-item {
		.pricing-item-header {
			.price-wrap {
				.price {
					color: $theme-color2;
				}
			}
		}

		&:hover {
			.pricing-item-footer {
				.pricing-btn {
					background-color: $theme-color2;
				}
			}
		}
	}
}

.page-pricing-color2-wrap {
	&.pricing3-content-wrap	{
		.pricing-item {
			.pricing-item-header {
				.title {
					color: $theme-color3;
				}
			}
		}	
	}
}

.page-pricing-color3-wrap {
	&.pricing4-content-wrap	{
		.pricing-item {
			h1, h2, h3, h4, h5, h6 {
			  font-family: $font-current-theme1;
			}
		}	
	}
}
