/*
-----------------------------------------------------------------------
  Testimonial CSS
-----------------------------------------------------------------------
*/

.testimonial-area {
	position: relative;
}

.testimonial1-content-wrap {
	.testimonial-item {
		position: relative;
		background-color: $white;
		padding: 30px 30px 40px;

		.client-quote {
			margin-bottom: 31px;

			p {
				color: $black-light;
				font-family: $font-current-theme2;
				font-size: 18px;
				line-height: 1.7;
			}
		}

		.thumb {
			position: absolute;
			right: 25px;
			bottom: 25px;

			img {
				border-radius: 50%;
				height: 75px;
				width: 75px;
			}
		}

		.client-info {
			.name {
				color: $black-light;
				text-transform: uppercase;
				font-weight: $font-weight-bold;
			}

			.designation {
				color: $black-8a;
				font-family: $font-current-theme2;
				font-size: 14px;
				display: block;
			}
		}
	}
}

.testimonial2-content-wrap {
	.testimonial-item {
		position: relative;
		text-align: center;
		.client-quote {
			margin-bottom: 30px;
			position: relative;
			padding: 0 30px 1px;
			@media #{$sm-device} {
				padding: 0 0 1px;
			}

			.quote-icon {
				width: 50px;
				margin: 0 auto 39px;
			}
			p {
				color: $white;
				font-family: $font-current-theme2;
				font-size: 26px;
				line-height: 1.5;
				@media #{$sm-device} {
					font-size: 24px;
				}
				@media #{$xs-device} {
					font-size: 20px;
				}
			}
		}

		.thumb {
			margin-bottom: 12px;
			img {
				border-radius: 50%;
				height: 60px;
				margin: 0 auto;
				width: 60px;
			}
		}

		.client-info {
			.name {
				color: $white;
				display: block;

				&.style2 {
					color: $theme-color;
					font-size: 16px;
					font-weight: $font-weight-bold;
				}
			}

			.designation {
				font-size: 12px;
			}
		}

		.testi-line {
			background-color: $theme-color;
			height: 2px;
			position: absolute;
			width: 40px;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: 0;
		}
	}

	.testi-quote-icon {
		width: 50px;
		margin-bottom: 39px;
	}
}

.testimonial3-content-wrap {
	.testimonial-item {
		.client-quote {
			margin-bottom: 19px;
			padding: 0 44px;
			@media #{$md-device} {
				padding: 0 32px;
			}
			@media #{$sm-device} {
				padding: 0 0;
			}
			p {
				font-family: $font-current-theme2;
				font-weight: $font-weight-normal;
				font-size: 18px;
				line-height: 1.23;
			}
		}

		.thumb {
			margin-bottom: 25px;
			img {
				border-radius: 50%;
				height: 100px;
				margin: 0 auto;
				width: 100px;
			}
		}

		.client-info {
			.name {
				color: $black-light;
			}
		}
	}
}

.testimonial4-content-wrap {
	.testimonial-item {
		position: relative;
		text-align: center;
		.client-quote {
			margin-bottom: 30px;
			position: relative;
			padding-bottom: 1px;
			.quote-icon {
				width: 50px;
				margin: 0 auto 39px;
			}
			p {
				color: $white;
				font-family: $font-current-theme2;
				font-size: 26px;
				line-height: 1.5;
			}
		}

		.thumb {
			margin-bottom: 12px;
			img {
				border-radius: 50%;
				height: 60px;
				margin: 0 auto;
				width: 60px;
			}
		}

		.client-info {
			.name {
				color: $white;
				display: block;

				&.style2 {
					color: $theme-color;
					font-size: 16px;
					font-weight: $font-weight-bold;
				}
			}

			.designation {
				font-size: 12px;
			}
		}

		.testi-line {
			background-color: $theme-color;
			height: 2px;
			position: absolute;
			width: 40px;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: 0;
		}
	}

	.testi-quote-icon {
		width: 50px;
		margin-bottom: 39px;
	}
}

.testimonial5-content-wrap {
	.testimonial-item {
		border: 1px solid $black-e6;
		padding: 0 40px 40px;
		margin-top: 40px;

		.client-quote {
			position: relative;

			p {
				margin-bottom: 12px;
				padding-bottom: 28px;
			}

			.testi-line {
			    @include gradient-bg2();
				bottom: 0;
				content: '';
				height: 3px;
				left: 50%;
			    position: absolute;
				width: 30px;
				@include translate(-50%, 0);
			}
		}

		.thumb {
			margin-bottom: 20px;
			margin-top: -40px;

			img {
				border-radius: 50%;
				height: 80px;
				margin: 0 auto;
				width: 80px;
			}
		}

		.client-info {
			.name {
				color: $black-light;
				display: block;
				font-size: 16px;
				font-weight: $font-weight-bold;
				margin-bottom: 1px;
			}

			.designation {
				font-size: 12px;
				display: block;
				margin: 0;
			}
		}
	}
}

.testimonial6-content-wrap {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -15px;
	padding: 0 40px;
	@media #{$sm-device} {
		padding: 0;
	}

	.grid-item {
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		z-index: 2;
		@media #{$xs-device} {
			width: 100%;
		}

		&:nth-child(1) {
			@include translate(0, 30%);
			@media #{$sm-device} {
				transform: none;
			}
		}

		&:nth-child(2) {
			@include translate(-20%, 5%);
			@media #{$sm-device} {
				transform: none;
			}
		}

		&:nth-child(3) {
			@include translate(40%,10%);
			z-index: 1;
			@media #{$sm-device} {
				transform: none;
			}
		}

		&:nth-child(4) {
			@include translate(10%,-30%);
			@media #{$sm-device} {
				transform: none;
				margin-bottom: 0;
			}
		}

		&:hover {
			z-index: 3;
		}
	}

	.testimonial-item {
		background-color: $white;
		box-shadow: 0px 0px 40px 0px rgba(41, 44, 58, .09);
		margin-bottom: 30px;
		padding: 38px 40px 34px;

		.client-quote {
			margin-bottom: 27px;
			p {
				color: $black-light;
				font-family: $font-current-theme2;
				font-weight: $font-weight-normal;
				font-size: 20px;
				line-height: 1.5;
				@media #{$sm-device} {
					font-size: 18px;
					line-height: 1.3;
				}
			}
		}

		.thumb {
			display: table-cell;

			img {
				border-radius: 50%;
				height: 55px;
				width: 55px;
			}
		}

		.client-info {
			display: table-cell;
			padding-left: 26px;
			@media #{$xs-device} {
				padding-left: 14px;
			}

			.name {
				color: $black-light;
			}
		}
	}
}

.testimonial7-content-wrap {
	.testimonial-item {
		.icon {
			margin-bottom: 14px;
			.icon-img {}
		}

		.client-quote {
			margin-bottom: 18px;
			p {
				font-size: 24px;
				line-height: 2;
				font-style: italic;
				@media #{$lg-device} {
					font-size: 18px;
					line-height: 1.9;
				}
			}
		}

		.client-info {
			.name {
				color: $black-light;
				font-weight: $font-weight-bold;
				font-size: 16px;
				margin-right: 6px;
			}

			.designation {
				color: $black-8a;
				font-size: 12px;
			}
		}

		.testi-rating {
			ul {
				margin-bottom: 0;
				li {
					color: #f5b223;
					font-size: 14px;
					letter-spacing: 5px;
					float: left;
				}
			}
		}
	}
}

.testimonial8-content-wrap {
	.testimonial-item {
		.client-quote {
			position: relative;
			padding-bottom: 1px;
			margin-bottom: 23px;
			p {
				color: $white;
				font-family: inherit;
				font-size: 48px;
				font-style: italic;
				line-height: 1.25;
				@media #{$md-device} {
					font-size: 36px;
				}
				@media #{$sm-device} {
					font-size: 26px;
				}
			}

			.testi-line {
				background-color: $white;
				bottom: 0;
				left: 50%;
				height: 4px;
				width: 50px;
				position: absolute;
			    transform: translate(-50%, 0px);
			}
		}

		.client-info {
			.name {
				display: block;
				color: $white;
				font-size: 24px;
			}

			.designation {
				display: block;
				color: $white;
				font-style: italic;
			}
		}
	}
}

.testimonial9-content-wrap {
	.testimonial-item {
		border: 1px solid $white-e7;
		padding: 0 30px 38px;
		@media #{$lg-device} {
			padding: 0 25px 26px;
		}

		.client-quote {
			margin-top: -10px;
			.quote-icon {
				background-color: $white;
				margin-bottom: 27px;
				padding: 0 5px;
				@media #{$lg-device} {
					margin-bottom: 20px;
				}
			}

			h4 {
				font-family: $font-current-theme2;
				font-weight: $font-weight-normal;
				font-size: 20px;
				font-style: italic;
				line-height: 36px;
				margin-bottom: 10px;
				@media #{$lg-device} {
					font-size: 18px;
					line-height: 30px;
					margin-bottom: 6px;
				}
			}
		}

		.client-info {
			span {
				color: $black-light;
				font-size: 12px;
				text-transform: uppercase;
			}
			.name {}
			.designation {}
		}
	}
}

.testimonial10-content-wrap {
	.testimonial-item {
		border: 1px solid $white-e6;
		padding: 40px 34px;
		@media #{$md-device} {
			padding: 24px 15px 25px;
		}

		.client-quote {
			.quote-icon {}

			p {
				font-size: 14px;
				position: relative;
				margin-bottom: 12px;
				padding-bottom: 22px;

				&:before {
					position: absolute;
					content: "";
					background-color: $black-light;
					height: 1px;
					width: 30px;
					left: 50%;
					bottom: 0;
					@include translate(-50%, 0);
				}
			}
		}

		.client-info {
			span {
				display: block;
			}
			.name {
				color: $black-light;
				font-weight: $font-weight-medium;
				font-size: 18px;
				margin-bottom: 0px;
			}
			.designation {
				font-size: 12px;
			}
		}
	}
}

.testimonial11-content-wrap {
	.testimonial-item {
		.client-quote {
			margin-bottom: 19px;
			padding: 0 44px;
			@media #{$md-device} {
				padding: 0 32px;
			}
			@media #{$sm-device} {
				padding: 0 0;
			}
			p {
				font-family: $font-current-theme2;
				font-weight: $font-weight-normal;
				font-size: 18px;
				line-height: 1.23;
			}
		}

		.thumb {
			margin-bottom: 25px;
			img {
				border-radius: 50%;
				height: 100px;
				margin: 0 auto;
				width: 100px;
			}
		}

		.client-info {
			.name {
				color: $black-light;
			}
		}
	}
}

.testimonial12-content-wrap {
	.testimonial-item {
		border: 1px solid #e6e6e6;
		padding: 0 40px 36px;
		margin-top: 40px;
		overflow: visible;
		text-align: center;

		.thumb {
			margin-bottom: 20px;
			margin-top: -40px;

			img {
				height: 80px;
				margin: 0 auto;
				width: 80px;
			}
		}

		.client-quote {
			margin-bottom: 17px;

			p {
				font-size: 18px;
				line-height: 36px;
				font-style: italic;
				@media #{$xs-device} {
					font-size: 15px;
					line-height: 28px;
				}
			}
		}

		.client-info {
			.name {
				color: $black-light;
				font-weight: $font-weight-bold;
				font-size: 18px;
				display: block;
				line-height: 1;
			}

			.designation {
				font-size: 12px;
				line-height: 1;
			}
		}
	}
}

.testimonial13-content-wrap {
	.testimonial-item {
		.client-quote {
			margin-bottom: 35px;
			position: relative;
			padding-bottom: 55px;

			&:before {
			    background-color: $theme-color;
			    bottom: 0;
			    content: "";
			    height: 5px;
			    left: 50%;
			    position: absolute;
			    width: 30px;
			    @include translate(-50%, 0);
			}

			p {
				color: $black-light;
				font-size: 48px;
				line-height: 1.25;
				font-weight: 300;
				margin-bottom: 0;
				@media #{$lg-device} {
					font-size: 25px;
				}
			}
		}

		.client-info {
			font-family: $font-current-theme6;
			@media #{$lg-device} {
				margin-bottom: 25px;
				padding-bottom: 28px;
			}

			.name {
				color: $black-light;
				font-size: 18px;
			}

			.designation {
				color: $black-light;
				font-size: 18px;
				position: relative;

				&:before {
					color: $black-light;
					content: "\f111";
					font-family: FontAwesome;
					font-size: 6px;
					vertical-align: middle;
					padding-left: 5px;
					padding-right: 10px;
				}
			}
		}
	}
}

.testimonial14-content-wrap {
	.testimonial-item {
		position: relative;
		padding-left: 150px;
		@media #{$lg-device} {
			padding-left: 120px;
		}

		.thumb {
			position: absolute;
			left: 0;
			top: 5px;

			img {
				border-radius: 50%;
			}
		}

		.client-quote {
			margin-bottom: 14px;
			position: relative;
			padding-bottom: 0;

			p {
				font-family: $font-current-theme2;
				color: $black-light;
				font-size: 20px;
				line-height: 1.8;
				font-weight: 300;
				margin-bottom: 0;
				@media #{$lg-device} {
					font-size: 16px;
					line-height: 1.8;
				}
			}
		}

		.testi-rating {
			display: inline-block;

			ul {
				margin-bottom: 0;

				li {
					color: #f5b223;
					font-size: 16px;
					letter-spacing: 5px;
					float: left;
					line-height: 1;

					i {
						font-size: 16px;
					}
				}
			}
		}

		.client-info {
			.name {
				color: $black-light;
				font-size: 12px;
			}

			.designation {
				color: $black-light;
				font-size: 12px;
				position: relative;

				&:before {
					color: $black-light;
					content: "\f111";
					font-family: FontAwesome;
					font-size: 5px;
					vertical-align: middle;
					padding-left: 1px;
					padding-right: 5px;
				}
			}
		}
	}
}

.testimonial15-content-wrap {
	.testimonial-item {
		.client-quote {
			p {
				color: $black-light;
				font-size: 18px;
				line-height: 2;
				margin-bottom: 15px;
				@media #{$lg-device} {
					font-size: 16px;
					line-height: 1.5;
					margin-bottom: 15px;
				}
			}
		}

		.client-info {
			.testi-rating {
				ul {
					margin-bottom: 0;
					li {
						color: #f5b223;
						font-size: 16px;
						letter-spacing: 5px;
						display: inline-block;

						i {
							font-size: 16px;
						}
					}
				}
			}
			.name {
				color: $black-light;
				font-size: 24px;
				@media #{$lg-device} {
					font-size: 20px;
				}
			}
		}
	}
}

.gutter30 {
	margin-right: -15px;
	margin-left: -15px;
	
	[class*=slick-slide] {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.testi-gutter30 {
	margin: 0 -15px;
	padding: 0 -15px;

	.slick-list {
		margin: 0 -15px;
		padding: 0 -15px;
	}
	.slick-slide {
		padding: 0 15px;
	}
}

.testimonial-slider {
	&.slick-dotted-one {
		&.slick-dotted {
			&.slick-slider {
				margin-bottom: 0;
				padding-bottom: 50px;
			}
		}
		.slick-dots {
			bottom: 0px;
			left: calc(50% - 5px);
			transform: translate(-50%, 0);
			li {
				height: auto;
				padding: 0;
				width: auto;
				margin: 0;
				&:nth-child(2n) {
					margin: 0 0 0 20px;
				}
				button {
					padding: 0;
					width: auto;
					height: auto;
					&:before {
						border-radius: 50%;
						border: 1px solid #fff;
						color: transparent;
						height: 10px;
						opacity: 1;
						width: 10px;
						@include transition(.5s);
					}
				}
				&.slick-active {
					button {
						&:before {
							border: 5px solid $theme-color;
						}
					}
				}
			}
		}
	}
}

.testi-slick-gutter30 {
	.slick-list {
		margin: 0 -15px;
	}
	.slick-slide {
		margin: 0 15px;
	}
}